<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>
</head>
<body>
    <h1>Blog</h1>
    <!-- posts로 전체 blog post를 list 형태로 받아옴
        리스트 길이만큼 반복해서 자동으로 포스트 전체의
         title, created_at, content 가져옴 -->
    {% for p in posts %}
        <hr/>
        <h3>
            <a href="{{ p.get_absolute_url }}">
               {{ p.title }}
            </a>
        </h3>
        <h4>{{ p.created_at }}</h4>
        <p>{{ p.content }}</p>
    {% endfor %}
</body>
</html>